<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Employee</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>New Employee</h1>
        <form th:action="@{/saveEmployee}" th:object="${employee}" method="post">
            <div class="mb-3">
                <input class="form-control" type="text" th:field="*{firstName}" placeholder="First Name">
                <input class="form-control" type="text" th:field="*{lastName}" placeholder="Last Name">
                <input class="form-control" type="text" th:field="*{email}" placeholder="Email">
                <button class="btn btn-primary mb-3" type="submit">Save Employee</button>
            </div>
        </form>
        <br/>
        <a th:href = "@{/}"> Back to Employee List</a>
    </div>
</body>
</html>